
<form asp-controller="Home" asp-action="ImageUpload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Dosya Yükle</label>
        <input type="file" name="formFile" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Dosyayı Gönder</button>
</form>